{% extends "quotes/base.html" %}

{% block content %}

<form method="post">
    {% csrf_token %}
    
    <!-- ?????? -->
    {{ form.as_p }}

    <div class="container">
        <div class="col-md-4">
            <p>
                {% if is_activated_parsing %}
                <button class="btn btn-danger" type="submit" name="action" value="activate_parsing">Stop parsing</button>
                {% else %}
                <button class="btn btn-success" type="submit" name="action" value="activate_parsing">Activate parsing</button>
                {% endif %}
            </p>
        </div>
    </div>
</form>



<div class="row">
    <div class="col-md-8">

        {% for quote in quotes %}

        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{quote.quote}}
            </span>
            <span>by <small class="author" itemprop="author">{{quote.author}}</small>
            <a href="/author/{{quote.author}}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags %}
                <a class="tag" href="/tag/{{tag}}">{{tag}}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    <nav>
        <ul class="pager">

            <li class="previous">
                <a class="{% if not quotes.has_previous %}disabled{% endif %}" 
                href="{% if quotes.has_previous %} {% url 'quotes:root_paginate' quotes.previous_page_number %} {% else %}#{% endif %}">
                <span aria-hidden="true">←</span> Previous</a>
            </li>

            <li class="next">
                <a class = "{% if not quotes.has_next %}disabled{% endif %}" 
                href="{% if quotes.has_next %} {% url 'quotes:root_paginate' quotes.next_page_number %} {% else %}#{% endif %}">
                    Next <span aria-hidden="true">→</span></a>
            </li>
            
        </ul>
    </nav>
    </div>

    </div>
</div>

{% endblock %}
